.Header {
    display: flex;
    width: 100%;
    height: 250px;
}
.box-1 { width: 13%;}
.box-2 { width: 25%;
    padding-left: 7%;    
}
.box-3 { width: 30%;
    font-family: fantasy;
    font-size: 30px;
    font-weight: 500;
    align-content: center;
}
.middle {text-indent: 25%;} .bottom {text-indent: 50%;}
.box-4 { width: 25%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box-4 > img {
    border-radius: 50%;
}
.box-4 > p { font-size: 25px; font-weight: 900; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}



.Navigation {
    background-color: #333;
}
.Navigation a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-weight: 800;
    margin: 10px 10px 0px 10px;
}
.Navigation a:hover {
    background-color: #ddd;
    color: black;
}
.Navigation a.active {
    background-color: darkturquoise;
    color: white;
}                    
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.Navigation .search-container {
    float: right;
}
button {
    padding: 6px;
    margin: 20px 18px 0px 0px;
    font-size: 17px;
    font-weight: 600;
}
input {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}



.page-body {
    background-color: #333;
    border-radius: 10%;
    margin: 30px 60px 30px 60px;
}
.summary {
    display: flex;
    justify-content: center;
}
.resources {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.resources-right {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}
.summary > img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10%;
    margin-top: 100px;
}
.summary > p {
    background-color: white;
    border-radius: 20%;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 50px;
}
.resources > p {
    margin-right: 60px;
}
.resources > img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10%;
    margin-top: 2%;
}
.resources-right > ul {
    margin-left: 5%;
    margin-right: 5%;
}



.footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    margin-right: 60px;
    margin-left: 60px;
}
.footer > img {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    object-fit: cover;
    margin-left: 2%;
    margin-top: 2%;
}
.footer > p {
    background-color: white;
    border-radius: 20%;
    padding: 50px;
    margin: 2% 5% 2% 5%;
}
.footer > form {
    background-color: white;
    margin: 2% 2% 2% 0;
    padding-left: 2%;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-row > label {
    width: 100px;
    margin-top: 15px;
}